*{
    text-decoration: none;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    padding: 10px 0;
}

header .nav-bar {
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #5a5a5a;
    color: #eee;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
}

.form {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.form div {
    margin-bottom: 15px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form select,
.form textarea {
    width: calc(100% - 10px);
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.form input[type="radio"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5a5a5a;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

button:hover {
    background-color: #4a4a4a;
}

footer {
    background-color: #444;
    text-align: center;
    padding: 20px 0;
}

footer pre {
    margin: 0;
}
a{
    color: #eeeeee;
}
a:hover{
    color: black;
}
